.flexRow--home__section--one {
/* .flexRowContent--home__section--one { */
    background-color: green;
    color: blue;    /* no se va a aplicar*/
}

.flexCol--section__two--item-2 :global(.vtex-store-link-0-x-link){
    background-color: green;
    border: 1px solid red;
}